{% extends 'base.html' %}
{% load static %}

{% block title %} about {% endblock title %}

{% block body %}
    <!--    start: about-->
    <div class="container-fluid about">
        <div class="row">
            <div class="col-12 about_outer">
                <img src="images/abs1.png" alt="" width="100%" class="img-fluid">
            </div>
        </div>
        <div class="row mt-3 mb-3 pt-3 pb-3 founder_outer">
            <div class="col-sm-5 mb-3">
                <img src="images/ab4.jpeg" alt="" width="100%" class="rounded img-fluid ">
            </div>
            <div class="col-sm-7 pt-md-4">
                <h3>Who we are ?</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, maiores. Illum eius rem porro, dolorem voluptatibus excepturi pariatur delectus vitae itaque repudiandae. Ipsa illo modi numquam ullam eligendi, vel quia.</p>
            </div>
        </div>
        <!--    start: mission vission-->
        <div class="row mt-3 mb-3 pt-3 pb-3 founder_outer">
            <div class="col-md-6 mt-3">
                <div class="vission">
                    <h3>Our Vission:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum, at cumque obcaecati suscipit molestias odit ad ratione odio</p>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div class="vission">
                    <h3>Our Mission:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum, at cumque obcaecati suscipit </p>
                </div>
            </div>
        </div>
        <!--    end: mission vission-->
        <div class="row founder_outer mt-3 mb-3 pt-3 pb-3">
            <div class="col-12 text-center">
                <h3>&#9679; Founders &#9679;</h3>
            </div>
            <div class="col-sm-6 col-md-4 text-center ">
                <div class="founder mt-2">
                    <img src="images/bw1.png" alt="" width="100%" class="rounded-circle">
                    <h6 class="mt-3">Abc</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center">
                <div class="founder mt-2">
                    <img src="images/bm2.png" alt="" width="100%" class="rounded-circle">
                    <h6 class="mt-3">Abc</h6>
                    <p>CFO</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center">
                <div class="founder mt-2">
                    <img src="images/bw3.png" alt="" width="100%" class="rounded-circle">
                    <h6 class="mt-3">Abc</h6>
                    <p>COO</p>
                </div>
            </div>

        </div>
    </div>
    <!--    end: about-->

{% endblock body %}