{% extends 'index.html' %}
{% load static %}
{% block title %}Bookies | EditCategory{% endblock title %}

{% block body %}
<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="panel p-2">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Category</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/adminapp/updatecategory/{{category.id}}" method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="Enter Category" name="hcategory" value="{{category.category}}">
                            <br>
                            <input type="submit" value="Update" class="btn btn-success  btn-sm btn-round">
                            <input type="reset" value="Cancle" class="btn btn-danger btn-sm btn-round">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

{% endblock body %}