{% extends 'index.html' %}
{% load static %}
{% block title %}Bookies | subcategory{% endblock title %}

{% block body %}
<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left">Sub Category</h3>
                        <span class="pull-right"><a href="/adminapp/addsubcategory" class="btn btn-success btn-round">+ Add SubCategory</a></span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr  >
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Category</th>
                                    <th class="text-center">Sub Category Name</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for names in subcategory %}
                                <tr>
                                    <td class="text-center">{{names.id}}</td>
                                    <td class="text-center">{{names.category}}</td>
                                    <td class="text-center">{{names.subcategory}}</td>
                                    <td class="text-center">
                                        <a href="/adminapp/subcategorystatus/{{names.id}}/{{names.subcat_status}}">{{names.subcat_status}}</a>
                                    </td>
                                    <td  class="text-center">
                                        <a href="/adminapp/editsubcategory/{{names.id}}" class="btn btn-success btn-sm" >Edit</a>
                                        <a href="/adminapp/subcategorydelete/{{names.id}}" class="btn btn-danger btn-sm" id="deldata" onclick="return Deletedata(this)">Delete</a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if subcategory.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{subcategory.previous_page_number}}">Previous</a>
                    {% endif %}
                    <span>Page {{ subcategory.number }} of {{ subcategory.objpage.num_pages }}.</span>
                    {% if subcategory.has_next %}
                        <a href="?page={{ subcategory.next_page_number}}">Next</a>
                        <a href="?page={{subcategory.objpage.num_pages}}">Last</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
{% endblock body %}

{% block script %}

<script>
    function Deletedata(val)
    {
        var valu=confirm("Do you want to delete this record ??");
        if (valu == false)
        {
            return false;
        }
        else
        {
            return true;
        }
    }
</script>

{% endblock script %}